.jumbotron{
	color: white;
	background-color: #337AB7;
} 

h2 {
	animation-duration: 3s;
	animation-name: slidein;
}
@keyframes slidein {
	from {
		margin-left: 100%;
		width: 300%;
	}

	to {
		margin_left: 0%;
		width: 100%;
	}
}

button {
	margin: 5px;
}